.header {
  padding: 4px;
  background-color: purple;
}

.header p {
  color: white;
  font-size: 19px;
  font-family: sans-serif;
  text-align: center;
}

.bottomHeader {
  padding: 175px;
  /* background-color: #1d3869; */
  background-color: #161616;
  text-align: center;
}

.bottomHeader p {
  color: white;
  font-family: sans-serif;
  font-size: 3rem;
  text-align: center;
}

.bottomHeader h4 {
  color: lightgray;
  font-family: sans-serif;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: 2px solid #007bff;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.button:hover,
.button:focus {
  background-color: #0056b3;
  border-color: #0056b3;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button:disabled {
  background-color: #d6d6d6;
  border-color: #bcbcbc;
  color: #7d7d7d;
  cursor: not-allowed;
  box-shadow: none;
}

.bottomHeader1 {
  padding: 150px;
  background-color: #9da6ac;
}

.bottomHeader1 p {
  color: black;
  font-family: sans-serif;
  font-size: 2rem;
  text-align: center;
}

.bottomHeader1 h4 {
  text-align: center;
  color: lightgray;
  font-family: sans-serif;
}

.bottomHeader2 {
  padding: 150px;
  background-color: #9ec6db;
}

.bottomHeader2 p {
  color: black;
  font-family: sans-serif;
  font-size: 2rem;
  text-align: center;
}

.bottomHeader2 h4 {
  text-align: center;
  color: lightgray;
  font-family: sans-serif;
}

/* components/Navbar.module.css */
.navbar {
  background-color: #000000;
  color: white;
  padding: 1rem;
}

.navbar ul {
  display: block;
}

.navbar ul li {
  display: inline;
  margin: 8px;
}

.title {
  display: inline;
  font-family: sans-serif;
  font-size: 2em;
}

.links:hover {
  color: lightgray;
  text-decoration: underline;
}

.img {
  border-radius: 15px;
  display: inline;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footerColumn {
  width: 45%;
}

.footerColumn h3 {
  border-bottom: 1px solid #555;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.footerColumn ul {
  list-style: none;
  padding: 0;
}

.footerColumn ul li {
  margin-bottom: 10px;
}

.footerColumn ul li a {
  color: white;
  text-decoration: none;
}

.footerColumn ul li a:hover {
  text-decoration: underline;
}

.footerBottom {
  text-align: center;
  padding: 10px;
  background-color: #222;
}
